body *{

  margin:0px ;
  padding: 0;

}
#container{
  display: flex;
  flex-direction: column;

}
#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
ul{
  display: flex;
  flex-direction: column;
  /*float: right;*/
}

li{
  margin-top: 20px;
    font-family: 'Karla', sans-serif;
    /*float: right;*/


}
h1{
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  color: white;
  background-color: purple;
  padding: 20px;
  border-radius: 10px;
}
h3{
  display: flex;
  justify-content: center;
    font-family: 'Karla', sans-serif;
}
p{
  display: flex;
  justify-content: center;
    font-family: 'Karla', sans-serif;
    height: 300px;
    width: 300px;
    /*float: right;*/
}


/*.container{
  display: flex;
  flex-flow:row nowrap;
  margin-top: 100px;
}*/


img{
  height: 160px;
  width: 146px;
  border-radius: 60%;

}
